.form{
    width: 50%;
    margin:0 auto;
    border: none;
    background-color:white;
    font-size: large;
}
.form>input{
    padding: 12px 10px;
    width: 50%;
    border: solid 2px white;
    border-radius: 30px;
}
.form >button{
    padding: 16px 13px;
    border: none;
    background-color:white;
    border-radius: 30px;
    color: honeydew;
}